table.weberino-questions {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
}

table.weberino-questions td, table.weberino-questions th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
}

table.weberino-questions th {
    text-align: left;
}

table.weberino-questions thead {
    background-color: #ffcc00;
}

table.weberino-questions td .postbox {
    min-width: 100%;
    line-height: 2;
    margin-bottom: 2px;
}

#weberino_question h2 {
    font-size: 18px;
}

.weberino-span {
    background-color: white;
}

.weberino-alert {
    position: relative;
    padding: 1.25rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px dashed #c3e6cb;
    border-radius: .25rem;
    color: #155724;
    background-color: #d4edda;
}